
ul, li{margin: 0; padding: 0;}
body{
	font-size: 14px; line-height: 1.5; padding: 0; margin: 0; background-color: #f4f4f4; font-family: 'Roboto Condensed', sans-serif;;
}
.row {margin-right: 0; margin-left: 0;}

/*Global*/


/* HEader*/

header{ background: #3358A5; color: #ffffff; padding: 30px 0; min-height: 100px;}

header a { color: #ffffff; text-decoration: none; text-transform: uppercase; font-size: 14px; }

/* header li{ float: left; display: inline; padding: 0 20px 0 20px;} */

header #branding{float: left;}

header #branding h1{margin: 0; margin-bottom: 15px; font-size: 24px;}

header nav {float: right;}

/* HEader*/
 
.menu {}
.bg-light {background: none !important;}
.navbar-light .navbar-nav .nav-link{color: #fff;}
.navbar-light .navbar-nav .active>.nav-link{color: #fff;}


/* Showcase */

#showcase{ min-height: 300px; background: url("../img/white.jpg") no-repeat 0 -400px; text-align: center; color: #333; }

#showcase__width{margin: 0 auto; width: 80%; line-height: 1.8} 

#showcase h1{ padding-top: 50px; font-size: 55px; margin-bottom: 10px; }

#showcase p{ font-size: 14px;}

.underline{ position: relative; font-size: 20px; max-width: 350px; margin: auto auto 80px; color: #09F; }

.underline:before{ left: 0; position: absolute; content: ""; width: 150px; height: 1px; top: 50%; background-color: #777;}

.underline:after{ right: 0; position: absolute; content: ""; width: 150px; height: 1px; top: 50%; background-color: #777;}

/*Newsletter*/

.headline{border-bottom: 2px solid #efefef; margin-bottom: 25px;}

.headline h1{ font-size: 18px; text-transform: uppercase;}

.headline>.title{ border-bottom: 2px solid #09F; display: inline-block; padding: 0; margin: 0 0 -2px; font-weight: 500px;}

/*BOXES*/
.topmain {background: #fff; border: 1px solid #ccc; margin: 20px 0; padding: 10px;}
.midmain {margin: 20px 0;}
.midmain__teacher{background: #fff; border: 1px solid #ccc; margin: 20px 0;}
.midmain__detail{background: #fff; border: 1px solid #ccc; margin: 20px 0;}

.article{background-color: #fff; padding: 10px 20px; border-radius: 4px; border: 4px solid #3358A5;}
.article__feature{background-color: #e7e7e7; padding-bottom: 56.25%; position: relative; overflow: hidden; height: 0;}
.article__image {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;}
.article__title{ font-weight: bold; color: #363636; font-size: 18px; text-transform: uppercase; line-height: 1.5; margin: 12px 0; text-align: center; border-bottom: 1px solid #eee;}
.article__description{ height: 98px; overflow: hidden; color: #999; font-size: 14px; line-height: 1.4; margin-bottom: 20px; text-align: justify;}
.article__date {margin-bottom: 20px;}
span.date {margin-left: 10px; font-size: 15px;}
span.year {color: #3358A5; font-size: 15px;}
.article__action{overflow: hidden; text-align: right;}
a.article__more-text{display: inline-block; margin-bottom: 0; font-weight: 400; text-align: center; vertical-align: middle; touch-action: manipulation;  cursor: pointer;
    border: 1px solid transparent;  white-space: nowrap;  padding: 6px 12px; font-size: 14px; line-height: 1.42857143; border-radius: 4px; user-select: none;  color: #fff;
    background-color: #31b0d5; border-color: #269abc; text-decoration: none; }


.lesson {display: flex;}
.lesson__content{width: 23%; margin-right: 2%; background-color: #fff; padding: 10px 20px; border-radius: 4px; border: 4px solid #3358A5;}
.lesson__feature{background-color: #e7e7e7; padding-bottom: 56.25%; position: relative; overflow: hidden; height: 0;}
.lesson__image{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;}
.lesson__caption{font-weight: bold; color: #363636; font-size: 18px; text-transform: uppercase; line-height: 1.5; margin: 12px 0; text-align: center; border-bottom: 1px solid #eee;}
.lesson__description{ height: 98px; overflow: hidden; color: #999; font-size: 14px; line-height: 1.4; margin-bottom: 20px; text-align: justify;}
.lesson__date{margin-bottom: 20px;}
.lesson__more{overflow: hidden; text-align: right;}

.training{margin: 10px 0;}
.training__feature{background-color: #e7e7e7; padding-bottom: 56.25%; position: relative; overflow: hidden; height: 0;}
.training__image{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;}
a.training__title{color: #337ab7; font-size: 18px; text-decoration: none;}
.training__date{margin-top: 10px;}
.training__date-text{font-size: 12px;}
.training__year{font-size: 11px;}
/*intro*/

.intro {
	margin-top: 50px;
}

.text-center{
	text-align: center;
}

.margin-bottom-10{
	margin-bottom: 10px;
}

.big-icon .icon-style {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: 1px solid #09F;
	text-align: center;
	padding: 15px 0;
	transition: all .5s;
}

.margin-auto{
	margin: auto!important;
}

.big-icon i{
	font-size: 30px;
	color: #09F;
}

/*Section contact*/

.list-nostyle{
	list-style: none;
	padding: 0;
}

.with-icon i{
	display: inline-block;
	margin-right: 5px;
}

li i{
	color: #09F;
}

/*more section*/

.margin-top-20{margin-top: 20px;}
.margin-bottom-20{
	margin-bottom: 20px;
}

.white-bg{background-color: #fff; border: 1px solid #ccc; padding: 20px;}

.border-grey{border:2px solid #eee;}

.img-responsive{width: 100%;}

.text-bold{
	font-weight: 700;
}

.margin-top-0{margin-top:0;}

.font-bigger{font-size: 16px;}

.margin-bottom-10{
	margin-bottom: 10px;
}

.text-center{text-align: center;}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #e8491d;
	text-align: center;
}