body {
	position: relative;background: linear-gradient(to bottom, rgba(7,42,78,1) 0%,rgba(10,48,85,1) 6%,rgba(19,66,106,1) 15%,rgba(35,94,137,1) 24%,
	rgba(60,127,166,1) 33%,rgba(80,146,178,1) 39%,rgba(100,163,184,1) 44%,rgba(128,180,182,1) 51%,rgba(151,192,177,1) 56%,rgba(178,201,166,1) 62%,
	rgba(194,202,155,1) 66%,rgba(213,199,137,1) 71%,rgba(228,189,118,1) 76%,rgba(238,168,92,1) 84%,rgba(240,150,75,1) 92%,rgba(236,126,57,1) 98%,
	rgba(235,120,53,1) 100%);background-attachment: fixed;
  background-clip: border-box;
  background-size: contain;  
}
body::before {	content: '';  position: absolute;  left: 0;  right: 0;  top: 0;
    bottom: 0;
    opacity: 0.3;
}

ul, li{margin: 0; padding: 0;}
#login{ margin-top:30px;}

h3{marging-rigth: 1px;}
.header {border-bottom:none; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); min-height: 30px;}
.login_header { padding-top: 6px !important; padding-bottom: 0 !important; height: 33px;}
.login_header a{color: #ecf0f1; padding: 20px 15px; font-size: 18px; line-height: 20px; text-decoration:none;}
.login_header a:hover {color: #ffbbbc; text-decoration:none;}
.header_logo{padding-top: 6px !important; padding-bottom: 0 !important;}
.header_logo a{color: #ecf0f1; padding: 20px 15px; font-size: 18px; line-height: 20px; text-decoration:none;}
.header_logo a:hover {color: #ffbbbc; text-decoration:none;}
.header_login ul {float: right;}
.header_login li {display:inline-block; padding: 5px 10px; }
.header_login li a {color: #ecf0f1; text-decoration: none;}

.menu {color: #ffffff; background: rgba(255, 255, 255, 0.2); border: 1px solid rgba(255,255,255,0.4); box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3);
    border-radius: 3px; padding: 5px; z-index: 1; margin-bottom: 20px; margin: 0 auto; }
.menu_list {padding: 15px 0;}
.menu_list ul{margin: 0 auto;}
.menu_list i {font-size: 15px; margin-right: 5px;}
.menu_list a.active{background:rgba(255,255,255,0.3);}
.menu_list li {list-style: none; display: inline-block;}
.menu_list li a {background:rgba(255,255,255,0);color: #fff; font-size: 16px; border-bottom: 1px solid #999; padding: 10px 15px; display: block; text-decoration: none; flex-basis: 13%; transition: 0.6s ease-out all}
.menu_list li a:hover{background:rgba(255,255,255,0.3);}
.menu_list li a:last-child{border-bottom: none;}
.main{overflow: auto; position: relative; width: 100%; height: 100%; padding-top: 30px; padding-bottom: 100px;}


.main_login{ margin-top:30px;}
.main_form {min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05);}
footer{position: fixed; bottom: 0; margin-top: 100px; clear: both;text-align: center;  padding: 40px 0;  width: 100%; color: #ffffff;
    background: rgba(255, 255, 255, 0.2); border: 1px solid rgba(255,255,255,0.4); box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3); border-radius: 3px; z-index: 1;}


.main_body {padding: 30px 0; width: 100%;}
.main_body .fa-les{font-size: 24px;}


.index_title {color: #fff;}


.dashboard li {display: inline-block; list-style: none; width: 24.7%;}
.dash__main { padding: 40px 30px; overflow: hidden;background: rgba(26, 188, 156, 0.2); border: 1px solid rgba(255,255,255,0.4); box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3); border-radius: 3px; }
.dash__left {float: left;}
.dash__left>i{font-size: 60px; color: #fff;}
.dash__right {float: right; color: #fff; font-size: 18px;}
.dash__right>.count{float: right; font-weight: bold; font-size: 22px;}
.dash__more{text-align: center; background: rgba(255,255,255, 0.2); border: 1px solid rgba(255,255,255,0.4); box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3); border-radius: 3px;}
.dash__more>a{text-decoration: none; color: #fff; font-weight: bold;}



/* Custom */
.table {font-size: 14px; vertical-align: top; text-align: center;border:none;}
.table td {border:none; padding: 5px 10px; vertical-align: middle;}
.table thead th {border:none; padding: 5px 10px; vertical-align: top; text-align: left;  text-transform: uppercase;}
.table th {border: none; vertical-align: middle; color: #fff;}
tbody {font-size: 12px;}
.table tr {border-radius: 5px;     }
th:before { border-radius:5px 0 0 5px;  }
td:last-child:before { border-radius:0 5px 5px 0;}
table tbody td, table tbody th{position: relative;}
table tbody td::after{content: '';  position: absolute; top: 0; left: 10px; right: 10px; bottom: 0px; background: rgba(255, 255, 255, 0.2); border: 1px solid rgba(255,255,255,0.4);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3);  z-index: -1;}
    
table tbody td:before, table tbody th:before {content: ''; position: absolute; top: 5px;left: 0; right: 0; bottom: 5px; background: RGB(146, 206, 193);  z-index: -2;}
 
.image__list {}
.feature__image {width: 22%; float: left; margin-right: 2%; margin-bottom: 2%; position: relative;}
.feature__image-item{background-color: #e7e7e7; padding-bottom: 56.25%; position: relative; overflow: hidden; height: 0;}
.image__thumb {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;}
.image-del-btn {background: none; position: absolute; z-index: 1; top: 0; right: 0;}
.fa-times {font-size: 15px; margin: 0;}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}


.main-color-bg{
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color:#ffffff !important;
}
/* Header */
#header{
  background:#333333;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

#editForm {margin-top: 40px;}

.button{width: 40px; border-radius: 6px; cursor: pointer; display: inline-block; background-color: #FFF; border: none;}
.del-btn:hover{background-color: #f44336; color: white;}
.edit-btn:hover{background-color: #008CBA; color: white;}
.add-btn:hover{background-color: #4CAF50; color: white;}





/*Logout button*/
.navigation {
  width: 100%;
  background-color: black;
}

.navigation .fa-power-off {
  font-size: 14px;
  border-radius: 50px;
  float: left;
}

.navigation .logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  bottom: 0;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.logoutBtn {
	text-decoration: none;
	float: right;
	  padding: 12px;
	  margin: 15px;
	  color: white;
	  width: 40px; background: rgba(255, 255, 255, 0.2); border: 1px solid rgba(255,255,255,0.4); box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3);
    border-radius: 3px;
	  transition: width .35s;
	  overflow: hidden
}

.navigation>a:hover {
  width: 120px;
}

a:hover .logout{
  opacity: .9;
}


/*Search box*/
.search {width: 500px; height: 40px; margin: 15px 0;background: rgba(0,0,0,.1); border-radius:  3px; border: 1px solid #fff;}

.search input {width: 370px; padding: 8px 5px; float: left;color: #fff; border: 0;background: transparent;border-radius: 3px 0 0 3px;}
.search input::placeholder{color:rgba(255,255,255,0.5);}
.search input:focus {outline: 0;background:transparent;}

.search button {position: relative;float: right;border: 0;padding: 0;cursor: pointer;height: 40px;width: 120px;color: #fff;background: transparent;border-left: 1px solid #fff;border-radius: 0 3px 3px 0; transition: 0.2s ease-out;}   

.search button:hover {background: #fff;color:#444;}
.search button:active {box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);}

.search button:focus {outline: 0;}



/*Pagination*/
.page-item .page-link{
  margin: 4px;
  padding: 8px 14px;
  border-radius: 4px;
  border: solid 2px rgba(255, 255, 255, .4);
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, .2);
  transition: all .1s;}
  
  .page-item.active .page-link{
  	 border: solid 2px #fff;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: 0 0 10px #fff;
  }
  
 .page-item a:hover {
  border: solid 2px #fff;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: 0 0 10px #fff;
}
